<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pontezit.android.tilos.com"
    android:versionCode="22"
    android:versionName="4.1"
    android:installLocation="auto">

	<uses-sdk
	    android:targetSdkVersion="19"
	    android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.telephony"
                  android:required="false" />
	<application
		android:icon="@drawable/ic_launcher"
		android:label="Tilos"
        android:debuggable="false"
		android:killAfterRestore="true"
		android:theme="@style/Theme.ServeStream.Dark" >

        <provider
            android:name="pontezit.android.tilos.com.provider.MediaProvider"
            android:authorities="pontezit.android.tilos.com.provider.Media"
            android:exported="false" />
        
        <provider
            android:name="pontezit.android.tilos.com.alarm.AlarmProvider"
            android:authorities="pontezit.android.tilos.com"
            android:exported="false" />

        <activity
            android:name="pontezit.android.tilos.com.activity.MediaPlayerActivity"
            android:theme="@style/Theme.Tilos"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="pontezit.android.tilos.com.PLAYBACK_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="pontezit.android.tilos.com/*" />
            </intent-filter>
        </activity>



        <service
		    android:name="pontezit.android.tilos.com.service.MediaPlaybackService"/>



        <receiver
            android:name="pontezit.android.tilos.com.receiver.MediaButtonIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="pontezit.android.tilos.com.service.AppWidgetOneProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_one" />
        </receiver>


        <!-- Alarm Activities -->


        <activity
            android:name="pontezit.android.tilos.com.activity.SetAlarmActivity"
            android:label="@string/set_alarm_label"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation" />
                
        <activity
            android:name=".alarm.AlarmAlert"
        	android:excludeFromRecents="true"
        	android:launchMode="singleInstance"
        	android:taskAffinity=""
       		android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>

        <!-- This activity is basically the same as AlarmAlert but with a more
             generic theme. It also shows as full screen (with status bar) but
             with the wallpaper background. -->
        <activity
            android:name=".alarm.AlarmAlertFullScreen"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

        <receiver
            android:name=".alarm.AlarmReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="pontezit.android.tilos.com.ALARM_ALERT" />
                <action android:name="pontezit.android.tilos.com.ALARM_KILLED" />
                <action android:name="pontezit.android.tilos.com.CANCEL_SNOOZE" />
            </intent-filter>
        </receiver>

        <!-- This service receives the same intent as AlarmReceiver but it does
             not respond to the same broadcast. The AlarmReceiver will receive
             the alert broadcast and will start this service with the same
             intent. The service plays the alarm alert and vibrates the device.
             This allows the alert to continue playing even if another activity
             causes the AlarmAlert activity to pause. -->
        <service
            android:name=".alarm.AlarmKlaxon"
			android:exported="false" >                
            <intent-filter>
                <action android:name="pontezit.android.tilos.com.ALARM_ALERT" />
            </intent-filter>
        </service>

		<!-- End Alarm Activities -->

	</application>
</manifest>
