<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pontezit.android.tilos.com"
    android:versionCode="40"
    android:versionName="5.1"
    android:installLocation="auto">

	<uses-sdk
	    android:targetSdkVersion="19"
	    android:minSdkVersion="11" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />

	<application
		android:icon="@drawable/ic_launcher"
		android:label="Tilos"
		android:allowBackup="true"
		android:backupAgent="pontezit.android.tilos.com.service.BackupAgent"
		android:killAfterRestore="true"
		android:theme="@style/Theme.ServeStream.Dark" >

		<meta-data
		    android:name="com.google.android.backup.api_key"
    		android:value="AEdPqrEAAAAIWcqt9c_ET5W0EpBB9ZCQGbBhfrOetXL6t6Cdwg" />

        <provider
            android:name="pontezit.android.tilos.com.provider.MediaProvider"
            android:authorities="pontezit.android.tilos.com.provider.Media"
            android:exported="false" />
        
        <provider
            android:name="pontezit.android.tilos.com.alarm.AlarmProvider"
            android:authorities="pontezit.android.tilos.com"
            android:exported="false" />

		<activity
		    android:name="pontezit.android.tilos.com.activity.MainActivity"
	   		android:theme="@style/Theme.ServeStream.Dark"
		    android:launchMode="singleTop" >
		    
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
  				<action android:name="android.intent.action.SEND" />
  				<category android:name="android.intent.category.DEFAULT" />
  				<data android:mimeType="text/plain" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="pontezit.android.tilos.com/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" />
				<data android:host="*" />
				<data android:mimeType="audio/*" />
				<data android:mimeType="video/*" />
				<data android:mimeType="audio/x-mpegurl" />
        		<data android:mimeType="audio/x-scpls" />
        		<data android:mimeType="video/x-ms-asf" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" />
				<data android:host="*" />
				<data android:pathPattern=".*\\.m3u" />
				<data android:pathPattern=".*\\.pls" />
				<data android:pathPattern=".*\\.asx" />
			</intent-filter>
			<intent-filter>
        		<action android:name="android.intent.action.VIEW" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<data android:scheme="file" />
        		<data android:mimeType="audio/x-mpegurl" />
        		<data android:mimeType="audio/x-scpls" />
        		<data android:mimeType="video/x-ms-asf" />
    		</intent-filter>
    		<meta-data
	            android:name="android.app.default_searchable"
                android:value=".activity.SearchableActivity" />
		</activity>

		<activity
            android:name="pontezit.android.tilos.com.activity.AboutActivity"
            android:theme="@style/Theme.ServeStream.Dark"
            android:label="@string/about_pref" />
        
		<activity
            android:name="pontezit.android.tilos.com.activity.AddUrlActivity"
            android:theme="@style/Theme.ServeStream.Dark"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/add_new_url_label"
            android:windowSoftInputMode="adjustResize" />
        
		<activity
            android:name="pontezit.android.tilos.com.activity.BluetoothOptionsActivity"
            android:theme="@style/Theme.ServeStream.Dark"
            android:label="@string/pref_bluetooth_options" />

		<activity
		    android:name="pontezit.android.tilos.com.activity.NowPlayingActivity"
		    android:theme="@style/Theme.ServeStream.Dark"
			android:label="@string/now_playing_label" />

        <activity
		    android:name="pontezit.android.tilos.com.activity.SearchableActivity"
		    android:theme="@style/Theme.ServeStream.Dark"
		    android:launchMode="singleTop" >
        	<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data
        	    android:name="android.app.searchable"
                android:resource="@xml/searchable" />
    	</activity>
		
		
		<activity
            android:name="pontezit.android.tilos.com.activity.SettingsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/settings_label" />
        
		<activity
		    android:name="pontezit.android.tilos.com.activity.ShortcutActivity"
			android:theme="@style/Theme.ServeStream.Dark" >
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity
		    android:name="pontezit.android.tilos.com.activity.StreamEditorActivity"
			android:configChanges="keyboardHidden|orientation" />

		<service
		    android:name="pontezit.android.tilos.com.service.MediaPlaybackService"
			android:description="@string/media_service_desc" />

        <activity
            android:name="pontezit.android.tilos.com.activity.MediaPlayerActivity"
            android:theme="@style/Theme.ServeStream.Dark"
            android:label="@string/media_player_label"
            android:launchMode="singleTop"
            android:exported="false" >
            <intent-filter>
                <action android:name="pontezit.android.tilos.com.PLAYBACK_VIEWER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name="pontezit.android.tilos.com.receiver.MediaButtonIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="pontezit.android.tilos.com.service.AppWidgetOneProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/appwidget_one" />
        </receiver>

        <receiver
            android:name="pontezit.android.tilos.com.receiver.SimpleLastfmScrobblerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="pontezit.android.tilos.com.playbackstarted" />
                <action android:name="pontezit.android.tilos.com.playstatechanged" />
                <action android:name="pontezit.android.tilos.com.playbackcomplete" />
                <action android:name="pontezit.android.tilos.com.metachanged" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="pontezit.android.tilos.com.receiver.ScrobbleDroidReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="pontezit.android.tilos.com.playbackstarted" />
                <action android:name="pontezit.android.tilos.com.playstatechanged" />
                <action android:name="pontezit.android.tilos.com.playbackcomplete" />
                <action android:name="pontezit.android.tilos.com.metachanged" />
            </intent-filter>
        </receiver>
        
        <receiver
            android:name="pontezit.android.tilos.com.receiver.BluetoothReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>
        
		<!-- Alarm Activities -->

        <activity
            android:name=".activity.AlarmClockActivity"
            android:theme="@style/Theme.ServeStream.Dark"
            android:label="@string/alarm_clock_label"
            android:excludeFromRecents="true"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:exported="false" />

        <activity
            android:name="pontezit.android.tilos.com.activity.SetAlarmActivity"
            android:label="@string/set_alarm_label"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation" />
                
        <activity
            android:name="pontezit.android.tilos.com.alarm.AlarmAlert"
        	android:excludeFromRecents="true"
        	android:launchMode="singleInstance"
        	android:taskAffinity=""
       		android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>

        <!-- This activity is basically the same as AlarmAlert but with a more
             generic theme. It also shows as full screen (with status bar) but
             with the wallpaper background. -->
        <activity
            android:name="pontezit.android.tilos.com.alarm.AlarmAlertFullScreen"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

        <receiver
            android:name="pontezit.android.tilos.com.alarm.AlarmReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="pontezit.android.tilos.com.ALARM_ALERT" />
                <action android:name="pontezit.android.tilos.com.ALARM_KILLED" />
                <action android:name="pontezit.android.tilos.com.CANCEL_SNOOZE" />
            </intent-filter>
        </receiver>

        <!-- This service receives the same intent as AlarmReceiver but it does
             not respond to the same broadcast. The AlarmReceiver will receive
             the alert broadcast and will start this service with the same
             intent. The service plays the alarm alert and vibrates the device.
             This allows the alert to continue playing even if another activity
             causes the AlarmAlert activity to pause. -->
        <service
            android:name="pontezit.android.tilos.com.alarm.AlarmKlaxon"
			android:description="@string/alarm_klaxon_service_desc"
			android:exported="false" >                
            <intent-filter>
                <action android:name="pontezit.android.tilos.com.ALARM_ALERT" />
            </intent-filter>
        </service>

		<!-- End Alarm Activities -->

	</application>
</manifest>
